
body {
  line-height: 1.7;
  color: #818181;
  font-weight: 300;
  font-size: 15px;
  background: #EEEEEE; }


::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none; 
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #21325E; 
}


.site-section-heading {
    color:#21325E ;
}


.btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;   
}

.btn.btn-md {
    padding: 15px 30px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em; 
    margin-top: 20px;
}



/* Blocks */
.top-bar {
  background: transparent !important;
  font-size: 13px;
  position: absolute;
  top: 0;
  width: 100%; 
}

.top-bar a {
  color: #000; 
}

.typed-words {
  font-weight: 700; 
}

.site-blocks-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-position: center center;
  background: #E5E5E5; 
}


.site-blocks-cover.overlay {
  position: relative; 
}


.site-blocks-cover.overlay:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4); 
}


.site-blocks-cover .player {
  position: absolute;
  bottom: -250px;
  width: 100%; 
}


.site-blocks-cover, .site-blocks-cover > .container > .row {
  min-height: 600px;
  height: calc(100vh); 
}


.site-blocks-cover.inner-page-cover, .site-blocks-cover.inner-page-cover > .container > .row {
    min-height: 400px;
    height: calc(20vh); 
}


.site-blocks-cover h1 {
  font-size: 3rem;
  font-weight: 400;
  color: #21325E;
  text-transform: uppercase; 
}
  
@media (max-width: 991.98px) {
  .site-blocks-cover h1 {
    font-size: 2rem; 
  } 
}
  .site-blocks-cover p {
    font-size: 1.2rem;
    line-height: 1.5; 
  }
  .site-blocks-cover .intro-text {
    font-size: 16px;
    line-height: 1.5; 
  }
@media (max-width: 991.98px) {
  .site-blocks-cover .display-1 {
    font-size: 3rem; 
  } 
}


.site-section {
    padding: 2.5em 0; }
    @media (min-width: 768px) {
    .site-section {
        padding: 5em 0; } }