body {
    line-height: 1.7;
    color: #818181;
    font-weight: 300;
    font-size: 15px;
    background: #EEEEEE; }
  
  
::-moz-selection {
    background: #000;
    color: #fff; }
  
::selection {
    background: #000;
    color: #fff; }
  
a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
a:hover {
    text-decoration: none; }

    h1 {
      font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      color: #21325E; }
    


.container{

    margin-top: 125px;

}

.order-card {
    color: #21325E;
}

.bg-c {
    background-color: #fff;
}

.site-section-heading {
    color:#21325E ;
    margin-bottom: 50px;
    font-weight: 500 !important;    
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.1);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.1);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    opacity: 0; 
    background-color: #21325E;
    color: #fff;
    font-size: 10.5px;
    text-align: center;
    border-radius: 6px;
    padding: 7px 0;
  
    position: absolute;
    z-index: 1;
    transition: opacity 0.2s ease-in-out; 
  }
  
  .card-block:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
  }
  

  .card-block:hover{
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    background-color: rgb(244, 244, 244);
    cursor: pointer;
  }

  .card-block:not(:hover) .tooltiptext{
    transition: all 0.2s ease-out;
}

.btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;   
    background-color: #1b294b !important;
    border-color: #1b294b !important;

}


.btn.btn-md {
    background-color: #21325E;
    border-color: #21325E;
    padding: 15px 30px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em; 
    margin-top: 30px;
}