{% extends "navbar.html" %}
{% load static %}

{% block title %} Creacion de Empleados {% endblock %}

{% block content %} 
{% if user.is_authenticated %}
{% if user.permisos == True %}

<section class="site-section" id="contact-section">
<style>
        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  button {
    margin: 10px;
    position: relative;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: #ffffff;
    color: #21325E;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
  }
  
  button:hover {
    color:  #3a518d;
  }
  
  button span {
    position: absolute;
    background: #3a518d;
    transition: .5s;
  }
  
  button span:nth-child(1) {
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
  }
  
  button span:nth-child(2) {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
  }
  
  button span:nth-child(3) {
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
  }
  
  button span:nth-child(4) {
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
  }
  
  button:hover span:nth-child(1) {
    left: 0;
  }
  
  button:hover span:nth-child(2) {
    right: 0;
  }
  
  button:hover span:nth-child(3) {
    bottom: 0;
  }
  
  button:hover span:nth-child(4) {
    top: 0;
  }
  
  body {
    line-height: 1.7;
    font-weight: 300;
    font-size: 15px;
    background: #E5E5E5
    ; } 
  
  ::-moz-selection {
    background: #000;
   }
  
  ::selection {
    background: #000;
    }
  
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    a:hover {
      text-decoration: none; 
  }
  
  h1, h2, h3, h4, h5,
  .h1, .h2, .h3, .h4, .h5 {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #21325E; 
  }
  
  .site-section-heading {
      color:#21325E ;
  }
  
  
  .btn:hover, .btn:active, .btn:focus {
      outline: none;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;   
  }
  
  .btn.btn-md {
      padding: 12.5px 25px;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px; 
      margin-top: 20px;
  }
  
  
  
  /* Blocks */
  .top-bar {
    background: transparent !important;
    font-size: 13px;
    position: absolute;
    top: 0;
    width: 100%; 
  }
  
  .top-bar a {
    color: #000; 
  }
  
  .typed-words {
    font-weight: 700; 
  }
  
  .site-blocks-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position: center center;
    background: #E5E5E5; 
  }
  
  
  .site-blocks-cover.overlay {
    position: relative; 
  }
  
  
  .site-blocks-cover.overlay:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4); 
  }
  
  
  .site-blocks-cover .player {
    position: absolute;
    bottom: -250px;
    width: 100%; 
  }
  
  
  .site-blocks-cover, .site-blocks-cover > .container > .row {
    min-height: 600px;
    height: calc(100vh); 
  }
  
  
  .site-blocks-cover.inner-page-cover, .site-blocks-cover.inner-page-cover > .container > .row {
      min-height: 400px;
      height: calc(20vh); 
  }
  
  .login-title{
    margin-top: -65px !important;
    font-weight: 500 !important;
    margin-bottom: 30px !important;
  }
  
  .site-blocks-cover h1 {
    font-size: 3rem;
    font-weight: 400;
    color: #21325E;
    text-transform: uppercase; 
  }
    
  @media (max-width: 991.98px) {
    .site-blocks-cover h1 {
      font-size: 2rem; 
    } 
  }
    .site-blocks-cover p {
      font-size: 1.2rem;
      line-height: 1.5; 
    }
    .site-blocks-cover .intro-text {
      font-size: 16px;
      line-height: 1.5; 
    }
  @media (max-width: 991.98px) {
    .site-blocks-cover .display-1 {
      font-size: 3rem; 
    } 
  }
  
  
  
html{
    scroll-behavior: smooth;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;  

}
nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: left;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}
.nav-links ul li a{
    color: rgb(8, 8, 8);
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '  ';
    width: 0%;
    height: 2px;
    background: #21325E ;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
</style>
    <div class="container">
        <div class="row mb-5">
    </div>
    <div class="row">
        <div class="col-md-12 mb-5">


    <form action="#" class="p-5 bg-white" method = 'POST'>
        
        {% csrf_token %}

    <h2 class="h4 mb-5">Creacion Empleado</h2>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <div class="row form-group">
    <div class="col-md-6 mb-3 mb-md-0">
        <label class="text-black" for="lbl-nombre">Nombre:</label>
        <input type="text" id="nombre-empleado" class="form-control" name="nombre-empleado" pattern = "[A-Za-z\s]+" required>
    </div>
    <div class="col-md-6">
        <label class="text-black" for="lbl-apellido">Apellido:</label>
        <input type="text" id="apellido-empleado" class="form-control" name="apellido-empleado" pattern = "[A-Za-z\s]+" required>
    </div>
    </div>


    <div class="row form-group">
        <div class="col-md-12">
            <label class="text-black" for="username-empleado">Nombre De Usuario:</label>
            <input type="text" id="username-empleado" class="form-control" name="username-empleado" pattern="[A-Za-z0-9\s,.-]+" required>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-12">
        <label class="text-black" for="lbl-direccion">Direccion:</label> 
        <input type="text" id="direccion-empleado" class="form-control" name = "direccion-empleado" pattern="[A-Za-z0-9\s,.-]+" required>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-12">
        <label class="text-black" for="lbl-email">Email:</label> 
        <input type="email" id="email-empleado" class="form-control" name="email-empleado" required>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-12">
        <label class="text-black" for="lbl-tipo-documento">Tipo Documento:</label> 
        <input type="text" id="tipo-documento-empleado" class="form-control" name="tipo-documento-empleado" required>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-12">
        <label class="text-black" for="lbl-tipo-documento">Numero Documento:</label> 
        <input type="text" id="nro-documento-empleado" class="form-control" name="nro-documento-empleado" required>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-12">
        <label class="text-black" for="lbl-pass-empleado">Contraseña:</label> 
        <input type="password" id="pass-empleado" class="form-control" name="pass-empleado" pattern="[A-Za-z0-9\s,.-]+" required>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-12 text-center">
            <input type="submit" value="Registrar Empleado" class="btn btn-primary btn-md text-white">
        </div>
    </div>

</div>


        </form>
        </div>

    </div>
    </div>
</section>
{% else %}
<script>
    window.location.href = "{% url 'operador' %}";
</script>
{% endif %}



 {% else %}
<script>
    window.location.href = "{% url 'index' %}";
</script>
{% endif %} 

{% endblock %} 