{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/style_head.css' %}">

<div class="container">
    <section class="header">
        <nav>
            <div class="nav-links">
                <ul>
                    <li><a href="{% url 'turno' %}">TURNO</a></li>
                    <li><a href="{% url 'creacion_empleado' %}">EMPLEADO</a></li>
            </div>
        </nav>
    </section>
</div> 

<section class="site-section" id="contact-section">
    <div class="container">
        <div class="row mb-5">
    </div>
    <div class="row">
        <div class="col-md-12 mb-5">


    <form action="#" class="p-5 bg-white" method = 'POST'>
        
        {% csrf_token %}

    <h2 class="h4 mb-5">Creacion Empleado</h2> 

    <div class="row form-group">
    <div class="col-md-6 mb-3 mb-md-0">
        <label class="text-black" for="lbl-nombre">Nombre:</label>
        <input type="text" id="nombre-empleado" class="form-control" name="nombre-empleado" pattern = "[A-Za-z\s]+" required>
    </div>
    <div class="col-md-6">
        <label class="text-black" for="lbl-apellido">Apellido:</label>
        <input type="text" id="apellido-empleado" class="form-control" name="apellido-empleado" pattern = "[A-Za-z\s]+" required>
    </div>
    </div>


<div class="row form-group">
    <div class="col-md-12">
    <label class="text-black" for="lbl-direccion">Direccion:</label> 
    <input type="text" id="direccion-empleado" class="form-control" name = "direccion-empleado" pattern="[A-Za-z0-9\s,.-]+" required>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12">
    <label class="text-black" for="lbl-email">Email:</label> 
    <input type="email" id="email-empleado" class="form-control" name="email-empleado" required>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12">
    <label class="text-black" for="lbl-tipo-documento">Tipo Documento:</label> 
    <input type="text" id="tipo-documento-empleado" class="form-control" name="tipo-documento-empleado" required>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12">
    <label class="text-black" for="lbl-tipo-documento">Numero Documento:</label> 
    <input type="text" id="nro-documento-empleado" class="form-control" name="nro-documento-empleado" required>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12">
    <label class="text-black" for="lbl-pass-empleado">Contraseña:</label> 
    <input type="password" id="pass-empleado" class="form-control" name="pass-empleado" pattern="^[a-zA-Z0-9]{8,}$" required>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-12 text-center">
        <input type="submit" value="Registrar Empleado" class="btn btn-primary btn-md text-white">
    </div>
</div>

{% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

<script src="{% static 'js/functions.js' %}"></script>

</div>


    </form>
        
    </div>

    </div>
    </div>
</section>