{% extends "base.html" %}

{% block title %} Detalle de Casilla {% endblock %}

{% block content %}

    <h1>Detalles de la Casilla N°{{ casilla.num_casilla }} De La {{ casilla.estacion }}</h1>
    <p>ID: {{ casilla.id }}</p>
    <p>Número de Casilla: {{ casilla.num_casilla }}</p>
    <p>Estado: {% if casilla.estado %}Abierta{% else %}Cerrada{% endif %}</p>
    
    {% if estacion_info %}
        <p>Casilla de la Estación: {{ estacion_info.numero_estacion }}</p>
    {% endif %}

    <a href="{% url 'panel' %}" class="btn btn-outline-primary">Volver al Panel</a>
{% endblock %}