{% extends "base.html" %}

{% load static %}

{% block title %} Operador - Peaje {% endblock %}

{% block head %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style_op.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}

{% block content %} 


{% if user.is_authenticated %}
{% if user.permisos == False %}
<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="{% url 'perfil' %}">
            <div class="icono_container">
            <i class="fas fa-user icono_perfil"></i>
            </div>
        </a>
        </li>
      </ul>
    </div>
  </nav>
<div class="container">
    <div class="col-12 text-center">
        <h1 class="site-section-heading">Panel Operador</h1>
        </div>
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card-select card bg-c order-card" id='elemento1'>
                <div class="card-block">
                    <h6 class="m-b-20">Motocicletas</h6>
                    <h2 class="text-right"><i class="fa fa-motorcycle f-left"></i><span>1</span></h2>
                    <p class="m-b-0">Precio:<span class="f-right">$40</span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card-select card bg-c order-card" id='elemento2'>
                <div class="card-block">
                    <h6 class="m-b-20">Automoviles</h6>
                    <h2 class="text-right"><i class="fa fa-car-side f-left"></i><span>2</span></h2>
                    <p class="m-b-0">Precio:<span class="f-right">$80</span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card-select card bg-c order-card" id='elemento3'>
                <div class="card-block">
                    <h6 class="m-b-20">2 Ejes</h6>
                    <h2 class="text-right"><i class="fa fa-truck f-left"></i><span>3</span></h2>
                    <p class="m-b-0">Precio:<span class="f-right">$160</span></p>
                    <span class="tooltiptext">Con Ruedas Duales o Altura Mayor a 2,10m.</span>
                </div>

            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card-select card bg-c order-card" id='elemento4'>
                <div class="card-block">
                    <h6 class="m-b-20">3 o 4 Ejes</h6>
                    <h2 class="text-right"><img class="fa f-left" src="{% static 'img/auto3ejes.svg' %}"><span>4</span></h2>
                    <p class="m-b-0">Precio:<span class="f-right">$160</span></p>
                    <span class="tooltiptext">Sin Ruedas Duales y Altura Menor a 2,10m.</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-3">
            <div class="card-select card bg-c order-card" id='elemento5'>
                <div class="card-block">
                    <h6 class="m-b-20">3 o 4 Ejes</h6>
                    <h2 class="text-right"><i class="fa fa-truck-moving f-left"></i><span>5</span></h2>
                    <p class="m-b-0">Precio:<span class="f-right">$240</span></p>
                    <span class="tooltiptext">Con Ruedas Duales o Altura Mayor a 2,10m.</span>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card-select card bg-c order-card" id='elemento6'>
                <div class="card-block">
                    <h6 class="m-b-20">5 o 6 Ejes</h6>
                    <h2 class="text-right"><img class="fa f-left" src="{% static 'img/5ejes.svg' %}"><span>6</span></h2>
                    <p class="m-b-0">Precio:<span class="f-right">$320</span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card-select card bg-c order-card" id='elemento7'>
                <div class="card-block">
                    <h6 class="m-b-20">Más de 6 Ejes</h6>
                    <h2 class="text-right"><img class="fa f-left" src="{% static 'img/7ejes.svg' %}"><span>7</span></h2>
                    <p class="m-b-0">Precio:<span class="f-right">$400</span></p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Tiempo Restante</h6>
                    <h2 class="text-right"><i class="fa fa-clock f-left"></i><span>‎</span></h2>
                    <p class="m-b-0">Minutos Restantes<span class="f-right">{{ tiempo }}</span></p>
                </div>
            </div>
        </div>
	</div>
    <div class="col-md-12 text-center">
    {% if turno.estado == False %}
        <a data-fancybox data-ratio="2" class="emitir btn btn-primary btn-md no_disp" id='enviarDatos'>Emitir Ticket</a>
    {% else %}
        <a data-fancybox data-ratio="2" class="emitir btn btn-primary btn-md disp" id='enviarDatos'>Emitir Ticket</a>
    {% endif %}

</div>  
</div>

<form method='POST' action='{% url 'operador' %}' id='form_operador'>
    {% csrf_token %}

    <input type='hidden' name='precio' id='input_precio'></input>
    <input type='hidden' name='categoria' id='input_categoria'></input>

</form>

{% if parametros %}
<script>
    var parametros = {{ parametros|safe }};
    var precio = parametros.precio;
    var categoria = parametros.categoria;
    var tarifa = parametros.tarifa;
    var url = 'http://127.0.0.1:8000/ticket/?send=1&categoria=' + categoria + '&precio=' + precio + '&tarifa=' + tarifa;

    var nv = window.open(url, '_blank');
</script>
{% endif %}


<script src="{% static 'js/main.js' %}"></script>
<script src="https://kit.fontawesome.com/13697a42ad.js" crossorigin="anonymous"></script></head>
{% else %}
<script>
    window.location.href = "{% url 'turno' %}";
</script>
{% endif %}


{% else %}
    <script>
        window.location.href = "{% url 'index' %}";
    </script>
{% endif %}



{% endblock %}
