{% extends "navbar.html" %}
{% load static %}

{% block title %} Panel de Administración de Casillas {% endblock %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}
<section class="site-section" id="admin-panel-section">

    <div class="container"><br>
        <div class="row">

            <div class="col-md-5">
                <form method="GET" action="{% url 'panel' %}">
                    {{form.as_p}}
                    <input type="submit" value="Search" class="btn btn-primary" />
                </form>
            </div>
            
            <div class="col-md-7">
                <h1 class="text-center">ADMINISTRACION DE CASILLAS</h1><br>
            </div>
        </div>
        
        <hr/>
        
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Número de Casilla</th>
                    <th scope="col">Estación</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead class="table-group-divider">
            <tbody>
                {% for casilla in casillas %}
                    <tr>
                        <td>{{ casilla.id }}</td>
                        <td>{{ casilla.num_casilla }}</td>
                        <td>Estación N° {{ casilla.estacion.id }}</td>
                        {% if casilla.estado %}
                            <td>Abierta</td>
                        {% else %}
                            <td>Cerrada</td>
                        {% endif %}

                        <td>
                            <a class="btn btn-outline-primary" href="" >Administrar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
