{% extends "base.html" %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/style_perfil.css' %}">
{% endblock %}

{% block title %} Perfil - Peaje {% endblock %}

{% block content %} 

{% if user.is_authenticated %}


    <div class="container">
                <div class="container emp-profile">

                    <form method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="profile-img">
                                    <img src="{% static 'img/placeholder.png' %}" alt=""/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="profile-head">
                                            <h5>
                                                {{ user.nombre }} {{ user.apellido }}
                                            </h5>
                                            <br><br><br>
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <p class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Datos Personales</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2">
                                {% csrf_token %}
                                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Log Out"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="profile-work">
                                    <p></p>
                                    <a href="#"></a><br/>
                                    <a href="#"> </a><br/>
                                    <a href="#"></a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content profile-tab" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Nombre</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>{{ user.nombre }} {{ user.apellido }}</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Email</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>{{ user.email }}</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Documento</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>{{ user.numero_documento }}</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label>Domicilio</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p>{{ user.direccion }}</p>
                                                    </div>
                                                </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>           
                </div>
                    <div class="col-md-12 text-center">
            <a data-fancybox data-ratio="2" href="#" class="btn btn-primary btn-md">Volver</a>
            </div>  
        </div>
        <script src="https://kit.fontawesome.com/13697a42ad.js" crossorigin="anonymous"></script></head>
        

        {% else %}
        <script>
            window.location.href = "{% url 'index' %}";
        </script>
    {% endif %}
    
    

{% endblock %}
