{% extends "base.html" %}
{% load static %}

{% block title %} Panel Administrador {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %} 
    
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <section class="site-section" id="contact-section">
        <div class="container">
            <div class="row mb-5">
            <div class="col-12 text-center">
            <h1 class="site-section-heading">Panel Administrador</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-5">
    
    
        <form action="#" class="p-5 bg-white" method = 'POST'>
            
            {% csrf_token %}
    
        <h2 class="h4 mb-5">Creacion Turno</h2> 
    
        <div class="row form-group">
        <div class="col-md-6 mb-3 mb-md-0">
            <label class="text-black" for="lbl-id-casilla">ID Casilla</label>
            <input type="text" id="input-id-casilla" class="form-control" name="idcasilla">
        </div>
        <div class="col-md-6">
            <label class="text-black" for="lbl-id-casilla">ID Operador</label>
            <input type="text" id="input-id-operador" class="form-control" name="idoperador">
        </div>
        </div>
    
    
    <div class="row form-group">
        <div class="col-md-12">
        <label class="text-black" for="lbl-start-time">Hora Inicio:</label> 
        <input type="datetime-local" id="start-time" class="form-control" name = "fh-incio">
        </div>
    </div>
    
    <div class="row form-group">
        <div class="col-md-12">
        <label class="text-black" for="lbl-end-time">Hora Fin:</label> 
        <input type="datetime-local" id="end-time" class="form-control" name="fh-fin">
        </div>
    </div>
    
    
        <div class="row form-group">
    
        <div class="col-md-12">
            <label class="text-black" for="lbl-monto">Monto inicial:</label> 
            <input type="number" id="input-monto" class="form-control" name="monto-inicial">
        </div>
    </div>
    
        <div class="row form-group">
    
        <div class="col-md-12">
            <label class="text-black" for="lbl-direction">Sentido cobro:</label> 
            <select name="direccion" id="input-direction" class="form-control">
    
            <option value="Oeste-Este">Oeste-Este</option>
            <option value="Este-Oeste">Este-Oeste</option>
            <option value="Norte-Sur">Norte-Sur</option>
            <option value="Sur-Norte">Sur-Norte</option> 
    
            </select>
    
        </div>
        </div>
    
    
        <div class="row form-group">
            <div class="col-md-12 text-center">
                <input type="submit" value="Ingresar Turno" class="btn btn-primary btn-md text-white">
            </div>
        </div>
    
    
            </form>
            </div>
    
        </div>
        </div>
    </section>
    
        </div> 
    
    
    
    </body>
    
{% endblock %}